/* Reset some default styles */
body,
h1,
p,
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(185, 227, 250);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
  

.nav-left,
.nav-right {
    display: flex;
}

.nav-btn {
    background-color: transparent;
    color: #2B9581;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.nav-link {
    background-color: #2B9581;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-btn:hover,
.nav-link:hover {
    color: #aaa;
}

section {
    margin-bottom: 20px;
}

.containerAA {
    position: relative;
    width: 80%;
    margin: 0 auto 150px;
}

.bottom-layer,
.middle-layer,
.top-layer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-layer {
    width: 120%;
    height: 120%;
    z-index: 1;
    top: -10%;
    position: relative;
    object-fit: contain;
}

.middle-layer {
    width: 80%;
    height: 80%;
    z-index: 2;
    bottom: -20%;
    object-fit: contain;
}

.top-layer {
    width: 60%;
    height: 60%;
    z-index: 3;
    bottom: -45%;
}

.containerBB {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto 100px;
}

.part {
    width: 100%;
    max-width: 90%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0 auto 50px;
}

.part-image {
    flex: 1;
    width: 100%;
    height: 100%;
    max-width: 50%;
    object-fit: contain;
}

.part-text {
    flex: 1;
    width: 100%;
    height: 100%;
    max-width: 50%;
    object-fit: contain;
}

.word-image {
    width: auto;
    height: 35px;
}


.containerCC-web {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: contain;
}

.image-container {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
}

.main-image {
    width: 30%;
    height: 30%;
    max-width: 100%;
    object-fit: contain;
}

.image-middle {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    object-fit: contain;
}

.text-container {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 18px;
}

.thumbnail-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 3;
    gap: 50px;
}

.thumbnail {
    width: 100%;
    max-width: 75px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.thumbnail:hover {
    border: 2px solid #2B9581;
}


.containerCC-mobile {
    display: none;
    position: relative;
    width: 100%;
    margin: 0 auto 150px;
}

.cc-bottom-layer {
    width: 100%;
    transform: scaleY(1.5);
}

.cc-middle-layer {
    width: 25%;
    height: 25%;
    transform: translate(150%, -200px);
    object-fit: contain;
}

.cc-top-layer {
    width: 70%;
    height: 70%;
    z-index: 10;
    transform: translate(100px, -200px);
    color: white;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #323232;
    padding: 10px 20px;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
    height: 65px;
}

.footer-link,
.footer-icon {
    margin-right: 20px;
    color: white;
}

.footer-link:last-child,
.footer-icon:last-child {
    margin-right: 0;
}

.footer-link:hover,
.footer-icon:hover {
    color: #aaa;
}

@media (max-width: 1000px) {
    .containerAA {
        width: 90%;
    }
    .middle-layer {
        width: 90%;
        height: 90%;
    }
    .word-image {
        width: auto;
        height: 25px;
    }

    .top-layer {
        width: 70%;
        bottom: -42.5%;
    }
    .footer-icon {
        display: none;
    }
    .image-middle {
        top: 10%;
    }
    .text-container {
        top: 26%;
    }
    
}

@media (max-width: 700px) {
    .containerAA {
        width: 100%;
    }
    .nav-btn {
        font-size: 12px;
        padding: 6px 6px;
    }
    .nav-link {
        font-size: 12px;
        padding: 6px 6px;
        border-radius: 10px;
    }
    .middle-layer {
        width: 100%;
        height: 100%;
    }
    .top-layer {
        width: 80%;
        height: 70%;
        z-index: 3;
        bottom: -45%;
    }
    .part-image {
        display: none;
    }
    .part-text {
        width: 100%;
        max-width: 100%;
    }
    .footer-left {
        font-size: 10px;
    }
    .containerCC-web {
        display: none;
    }
    .containerCC-mobile {
        display: block;
    }
}
