.section3 {
    background-image: url('images/paople-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.section3-image,
.section3-text,
.section3-thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3-image {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.section3-text {
    width: 40%;
    margin-left: 50px;
}

.section3-text p {
    color: #ffffff;
    line-height: 23px;
    font-weight: 500;
}

.section3-thumbnail {
    width: 15%;
    gap: 50px;
    position: relative;
    z-index: 3;
}

.thumbnail {
    transform: scale(0.75);
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.section3-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.section3-mobile h1 {
    width: 80%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.section3-mobile p {
    width: 80%;
    margin-bottom: 50px;
    font-size: 14px;
}

.section3-thumbnail-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section3-people-mobile {
    background-image: url('images/paople-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    flex-direction: row;
}

.team-mobile-image {
    width: auto;
    height: 30px;
}

@media (max-width: 500px) {
    .section3 {
        display: none;
    }

    .section3-mobile {
        display: flex;
    }

    .thumbnail {
        transform: scale(0.5);
    }

    .section3-image {
        max-height: 150%;
    }
}