.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.people-image {
    width: auto;
    height: 390px;
    margin-top: 50px;
    margin-bottom: -60px;
    z-index: 1;
}

.section1-text {
    position: relative;
    width: 70%;
    background-color: #B3F6FF;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    padding: 20px;
    z-index: 3;
    opacity: 0.9;
    text-align: left;
}

.meta-image {
    width: auto;
    height: 35px;
    margin: 15px 10px 10px 10px;
}

.section1-text p {
    margin: 15px 10px 10px 10px;
}

.section1-text a {
    margin: 15px 10px 10px 10px;
}

@media (max-width: 1100px) {
    .people-image {
        height: 290px;
        margin-bottom: -40px;
    }
    .meta-image {
        height: 29px;
    }
}

@media (max-width: 700px) {
    .section1-text {
        width: 80%;
    }
    .people-image {
        height: 200px;
        margin-bottom: -30px;
    }
    .section1-text p {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .people-image {
        height: 135px;
        margin-top: 30px;
        margin-bottom: -12px;
    }
    .meta-image {
        height: 17.5px;
        margin: 5px 0 0 0;
    }
    
    .section1-text p {
        margin: 5px 0 0 0;
    }
    
    .section1-text a {
        margin: 5px 0 0 0;
    }
}