.section2 {
    margin: 150px auto 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section2-parts-bg {
    background-image: url('images/land-background.png');
    background-size: cover;
    background-position: center center;
}

.section2-parts {
    max-width: 80%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 50px 100px 50px;
}

.section2-image {
    flex: 1;
    width: 50%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.25);
}

.section2-text {
    max-width: 45%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.section2-text h1 {
    margin: 10px 0px 10px 0px;
}

.section2-word-image {
    width: auto;
    height: 35px;
}

.section2-mobile {
    display: none;
    max-width: 80%;
    margin: 0 auto 0;
}

@media (max-width: 1200px) {
    .section2-text h1 {
        font-size: 32px;
    }
}

@media (max-width: 1000px) {
    .section2-text h1 {
        font-size: 28px;
    }
}

@media (max-width: 700px) {
    .section2 {
        display: none;
    }

    .section2-mobile {
        display: block;
    }

    .section2-parts {
        height: 600px;
        flex-direction: column;
        margin: 0px 10px 0 10px;
    }

    .section2-image {
        width: 70%;
    }

    .section2-text {
        max-width: 100%;
    }

    .section2-text p {
        font-size: 14px;
    }

}
@media (max-width: 310px) {
    .section2-word-image {
        width: auto;
        height: 15px;
    }
    .section2-mobile {
        margin-bottom: 50px;
    }
}