.section3 {
    background-image: url('images/green.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.section3-image,
.section3-text,
.section3-thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3-image {
    width: 25%;
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.section3-text {
    width: 40%;
    margin-left: 50px;
}

.section3-text p {
    color: #FFFFFF;
    line-height: 23px;
    font-weight: 500;
}

.section3-thumbnail {
    width: 15%;
    gap: 50px;
    position: relative;
    z-index: 3;
}

.thumbnail {
    width: 100%;
    max-width: 75px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.thumbnail:hover {
    border: 2px solid #2B9581;
}

.section3-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section3-mobile p {
    width: 80%;
    margin-bottom: 50px;
}

.section3-thumbnail-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section3-people-mobile {
    background-image: url('images/green.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .section3 {
        display: none;
    }
    .section3-mobile {
        display: flex;
    }
    .thumbnail {
        max-width: 50px;
    }
    .section3-image {
        margin-left: 25%;
    }
}